.calculator-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92vw;
  padding: 2rem;
}

h1 {
  margin-right: 8rem;
  font-size: 4rem;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 7rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgb(209, 203, 203);
}

.calculator-grid > .orange-button {
  background-color: rgb(202, 135, 10);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  font-size: 2.5rem;
}
